.container {
  height: 20vh;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121214;
}

.button {
  height: 50px;
  border: 0;
  background: #f1684e;
  color: #fff;
  font-weight: bold;
  padding: 0 1.25rem;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  transition: background-color 0.5s;
  background: #d11f1f;
}
